name: Hugo Pages
on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.134.3'
        extended: true
    - uses: actions/configure-pages@v5
    - run: hugo --minify
    - uses: actions/upload-pages-artifact@v4
      with:
        path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/deploy-pages@v4
      id: deployment